# the report geneated needs LLM to work 
#An email was sent with a working key or get your own free key from https://www.groq.com/try-groq
GROQ_API_KEY= gsk_ADD_YOUR_KEY_HER
# Ideally this model showed good performance on the task, but you can experiment with other models if you like. See https://www.groq.com/docs/models for more options.
GROQ_MODEL=llama-3.3-70b-versatile
